.hymn-view {
  line-height: 1.42857143;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  .hymn-intro {
    text-align: center;
    padding-bottom: 25px;
    h3,
    h4 {
      font-size: 18px;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
  .hymn-mp3::-webkit-media-controls-panel {
    background-color: #4e4e4e69;
  }
  .verses {
    max-width: 250px;
    padding-top: 15px;
    font-size: 15px;
    position: relative;
    left: 20px;
    .hymn-verse {
      margin-bottom: 15px;
    }
    .verse-one {
      margin-bottom: 0px;
    }
    .hymn-chorus {
      position: relative;
      left: 10px;
      margin-bottom: 15px;
      font-style: italic;
    }
    .remaining-verses {
      margin-top: 0px;
    }
    ol {
      padding-left: 0;
      padding-top: 0px;
    }
  }
}

.hymn-back-button {
  background-color: $theme-color;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 6px 12px;
  line-height: 1.5;
  color: white;
}
