#new-hymns-page {
  padding-top: $distance-from-top;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

#new-hymns-list {
  line-height: 1.42857143;
  width: 100%;
  max-width: 380px;
  a {
    font-size: 17px;
  }
}

.new-hymn-select-button {
  padding: 5px 8px;
  color: $text-dark-blue;
}

.new-hymn-select-button:hover {
  color: $text-blue;
}