#settings-view {
  line-height: 1.42857143;
  padding-top: $distance-from-top;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

.settings-div {
  width: 100%;
  .settings-title {
    font-size: 20px;
  }
}

#change-log {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  overflow-y: scroll;
  height: 400px;
  background-color: rgb(230, 239, 254);
  border: 2px solid $accent-darker;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  max-width: 500px;
  .update-card {
    width: 80%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    background-color: $accent-light;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}