#settings-view {
  line-height: 1.42857143;
  padding-top: $distance-from-top;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

.settings-div {
  width: 100%;
  .settings-title {
    font-size: 20px;
  }
}

#change-log {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  overflow-y: scroll;
  height: 400px;
  background-color: rgb(230, 239, 254);
  border: 2px solid $accent-darker;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  max-width: 500px;
  .update-card {
    width: 80%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    background-color: $accent-light;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
