* {
  background-color: whitesmoke;
}

#home-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: 30px;
    color: #293339;
  }
  #hymn-list {
    display: flex;
    .hymn-select-button {
      font-size: 20px;
      width: 30px;
      height: 30px;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

.hymn-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hymn-chorus {
  margin-bottom: 15px;
}

.hymn-verse {
  margin-bottom: 15px;
}

.verse-one {
  padding-left: 0;
  margin-bottom: 0px;
}

.remaining-verses{
  margin-top: 0px;
}

ol {
  padding-top: 0px;
}
