* {
  background-color: whitesmoke;
}

#home-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: 30px;
    color: #293339;
  }
  #hymn-list {
    display: flex;
    .hymn-select-button {
      font-size: 20px;
      width: 30px;
      height: 30px;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

.hymn-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  .hymn-intro {
    text-align: center;
    padding-bottom: 15px;
    h3,
    h4 {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
  .hymn-mp3::-webkit-media-controls-panel {
    background-color: #4e4e4e69;
  }
  .verses {
    position: relative;
    left: 20px;
    .hymn-verse {
      margin-bottom: 15px;
    }
    .verse-one {
      margin-bottom: 0px;
    }
    .hymn-chorus {
      position: relative;
      left: 10px;
      margin-bottom: 15px;
      font-style: italic;
    }
    .remaining-verses {
      margin-top: 0px;
    }
    ol {
      padding-left: 0;
      padding-top: 0px;
    }
  }
}
