* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  padding-top: 10px;
  padding-bottom: 100px;
  margin: 0;
}

$text-blue: rgb(43, 100, 222);
$text-dark-blue: rgb(0, 19, 103);
$theme-color: #448aff;
$accent-light: #d0e0fd;
$accent-darker: #acc9ff;
$distance-from-top: 80px;

// Removes link, toggle and button highlighting on mobile
button,
input,
span,
label,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  font-size: 30px;
}

.top {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  height: 52px;
  font-size: 25px;
  padding-left: 30px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $theme-color;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  z-index: 1;
  button,
  a {
    padding-right: 60px;
    font-size: 50px;
    background: transparent;
    border: none;
    color: white;
    margin: 0px;
  }
}

@import "searchView", "hymnView", "settingsView.scss";
